/*
	
	DEV MASTER: Bruno C Melo
	srbrunomelo@gmail.com 

*/

/* RESET */
*{  padding:0; margin: 0;  font-size: 100%;   box-sizing: border-box; color: #333; font-family: 'Maven Pro', sans-serif; }
body{ background: #f1f1f1; }

a:hover{ text-decoration: none; }

li{ list-style: none; }

a{ text-decoration: none; }
/* END RESET */

.container-fluid, .row{   }

p{
	font-size: 0.9rem;
	padding: 0;
	margin: 0;
}


.nav-user{ 
	background: #0747a6;
	max-width: 50px;
	text-align: center;
	align-items:stretch;
	height: 100vh; 
	z-index: 99999999; 
	align-content:stretch;	
}
	.icon-logo{
	 
	}
	.icon-logo, .logo{
		padding: 30px 0;
		
	}
	.action-close{
		background: #fff;
		border: 1px solid #CCC;
		border-radius: 50%;
		padding: 3px 9px;
		cursor: pointer;
		position: absolute;
		right: 0;
		margin-right: -12px;		
	}

	.action-close:hover{
		border:1px solid #0747a6;
		opacity: .8;
	}
		.action-close i{
			font: 15px;
		}

	.notification{
		 
	}

	.footer-nav-user{
		 
	}

.navigation{
	background: rgba(7,67,158,1);
	background: -moz-linear-gradient(left, rgba(7,67,158,1) 0%, rgba(7,71,166,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(7,67,158,1)), color-stop(100%, rgba(7,71,166,1)));
	background: -webkit-linear-gradient(left, rgba(7,67,158,1) 0%, rgba(7,71,166,1) 100%);
	background: -o-linear-gradient(left, rgba(7,67,158,1) 0%, rgba(7,71,166,1) 100%);
	background: -ms-linear-gradient(left, rgba(7,67,158,1) 0%, rgba(7,71,166,1) 100%);
	background: linear-gradient(to right, rgba(7,67,158,1) 0%, rgba(7,71,166,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07439e', endColorstr='#0747a6', GradientType=1 );
	height: 100vh; 
	max-width: 300px;
	margin-left:50px;
}

	.nav{
		width: 100%;
		display: flex;
		flex-direction: column;  
		margin-bottom: 15px; 
	}
	.nav li{
		padding:10px 0; 
		margin-top: 5px;
	}
		.active, .nav li:hover{
			background: #05367f;
			border-radius: 5px;
		}
		.nav li a{
			width: 100%; 
			display: flex;
			padding: 0 10px;
			font-size: 15px !important;
		}
		.nav li a:hover{
			background: #05367f;
			border-radius: 5px;
		}

		.nav li a, .nav li a i{
			color: #fff;
			margin-top: 3px;
		}

.content{
	margin-left: 350px;  
}		
 

.header{ 
	padding: 25px 0 !important;  
}	 


.page{ 
	padding: 20px 0;
}	